.mainSVG {
  position: absolute;
  visibility: hidden;
  /*  top:200px; */
  transform: translate(-50%, 0%);
  overflow: visible;
}

.boxLabel {
  text-anchor: middle;
  fill: #115f9a;
  font-size: 21px;
  user-select: none;
  -webkit-user-select: none;
  pointer-events: none;
  font-weight: 700;
}

.box {
  opacity: 0;
}
.svg > circle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
