# Similar secret with the next js project
NEXTAUTH_SECRET=

# Clickhouse Database Crednitals (optional) by default it uses sqlite. It should be enough for local development but should be changed for production
CLICKHOUSE_HOST=
CLICKHOUSE_PASSWORD=